<section class="bg-main-light py-5">
    <div class="container mx-5">
    <h2>Get the FreshCart app</h2>
    <p> we will send you a link , open it on your phone to Dawonload the app</p>
    <div class="row">
        <div class="col-md-10">
        <input type="text" placeholder="email..." class="form-control" name="" id="">
        </div>
        <div class="col-md-2 ms-auto">
            <button class="btn bg-main text-white">share App link</button>
        </div>
        <hr>
    </div>
    
    <div class="row">
    <div class="col-md-6 d-flex align-items-center">
    <h2>payments partners </h2>
    <img src="../../assets/images/payments.png" class="w-50 " alt="">
    </div>
    
    <div class="col-md-6 d-flex align-items-center">
        <h2 class="fs-5">get deliveries with FreshCart </h2>
        <img src="../../assets/images/app.png" class="w-50 " alt="">
        </div>
    
    
    
    
    
    </div>
    
    </div>
    </section>
